---
import PostCard from "@/components/PostCard.astro";
import { siteMetadata } from "@/data";
import { formatBlogPosts } from "@/js/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";

const allPosts = await Astro.glob("./**/*.md");

const filteredPosts = formatBlogPosts(allPosts)
---

<BaseLayout title={`Blog - ${siteMetadata.title}`}>
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {
        filteredPosts.length > 0 &&
        filteredPosts.map((post) => (
            <PostCard
              frontmatter={post.frontmatter}
              tagType="h2"
              url={post.url}
            />
          ))
      }
    </div>
  </section>
</BaseLayout>
