---
import { formatBlogPosts } from "@/js/utils";

type Props = {
  category: string;
  title: string;
};

const allPosts = await Astro.glob("../pages/blog/**/*.md");
const filteredPosts = formatBlogPosts(allPosts);

const { category, title } = Astro.props as Props;

const allRelatedPosts = filteredPosts.filter(
  (post) =>
    post.frontmatter.category == category && post.frontmatter.title != title,
).slice(0, 10);
---

<ul class="categories">
  {
    allRelatedPosts.map((post) => (
      <li>
        <a class="badge" href={post.url}>
          {post.frontmatter.title}
        </a>
      </li>
    ))
  }
</ul>
